  <div class="form-inputs">
    <%= f.input :NumeroCivique, placeholder: "Numéro Civique / rue", label: false %>
    <%= f.input :CodePostal, placeholder: "Code Postal", label: false %>
    <%= f.input :Ville, placeholder: "Ville", label: false%>
    <%= f.input :Province, placeholder: "Province", label: false %>
  </div>